@model IEnumerable<ChanhThu_Store.Models.BinhLuan>
@using System.Globalization;
@{ CultureInfo VN = new CultureInfo("vi-VN");}
@foreach (var item in Model)
{
    <div class="media mb-3">
        <div class="mr-2">
            @if (item.AspNetUser.Avatar != null)
            {
                <img class="rounded-circle  p-1" style="width:74px;height:74px;" src="@item.AspNetUser.Avatar" />
            }
            else
            {
                <img class="rounded-circle  p-1" style="width:74px;height:74px;" src="https://lh3.googleusercontent.com/proxy/q-E_OQrssp1RD_R2gy2TLEYPX_Y1-f6JGSB7rDlTUGF5HlrRrP0ls1e7Fxm4m35xaGe9QOMVUrsr0i_9gOlhzQ" />
            }
        </div>
        <div class="media-body">
            <p>@item.NoiDungBinhLuan</p>
            <small class="text-muted">Đăng bởi @item.AspNetUser.Email vào @item.NgayBinhLuan.ToString("d", VN)</small>
        </div>
    </div>
    <hr>
}
