
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Main_Admin.cshtml";
}

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div id="content-manage">
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Welcome to Chanh Thu Store Admin page !!!
            </a>
        </div>

    </div>
</div>

