@model IEnumerable<ChanhThu_Store.Models.DanhMucCon>
@foreach (var item in Model)
{
    <div class="col-lg-3 col-md-6 special-grid @item.MaDanhMuc">
        <div class="products-single fix">
            <div class="box-img-hover">
                @*<img src="@item.Hinh" class="img-fluid" alt="Image">*@
                <div class="img-fit gallery" style="background-image: url('@item.Hinh'),url('~/Content/images/default.png');"></div>
                <div class="mask-icon">

                    <a class="cart" href="/cua-hang/danh-muc-con/id=@item.MaDanhMucCon">@item.TenDanhMucCon</a>

                </div>
            </div>
        </div>
    </div>
}

