@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            

                <a href="/admin" class="btn login hvr-hover">Admin Page</a>

                <a class="btn login hvr-hover" href="javascript:document.getElementById('logoutForm').submit()">Đăng Xuất</a>
            
        }
    }
    else
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()



            <a href="/thong-tin-ca-nhan" class="name-account" routeValues: null> Xin chào @User.Identity.GetUserName()</a>
            

            <a class="btn login hvr-hover" href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a>

        }
    }

}
else
{

    <a href="/dang-nhap" class="btn login hvr-hover">Đăng nhập</a>
    <a href="/dang-ky" class="btn register hvr-hover">Đăng ký</a>

}
