@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">

                <li><a class="btn login btn-primary text-uppercase " href="/Admin/Manage">Admin Page</a></li>
                <li><a class="btn login btn-primary text-uppercase " href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
            </ul>
        }
    }
    else
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

          
          
               @Html.ActionLink("Xin chào " + User.Identity.GetUserName(), "Storage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" , @class = "name-account" })
             
               <a class="btn login btn-primary hvr-hover" href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a>
      
        }
    }

}
else
{

    <a href="/dang-nhap" class="btn btn-success register hvr-hover">Đăng nhập</a>
    <a href="/dang-ky" class="btn btn-success login hvr-hover">Đăng ký</a>

}
