@model ChanhThu_Store.Models.Cart
@{
    ViewBag.Title = "_NumberofBadge";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}
@if (Model != null)
{
    foreach (var item in Model.Items)
    {
        <li class="side-menu">
            <a href="#">
                <i class="fa fa-shopping-bag"></i>
                <span class="badge">@item._ShoppingQuantity</span>
                <p></p>
            </a>
        </li>
    }


}
else
{
    <li class="side-menu">
        <a href="#">
            <i class="fa fa-shopping-bag"></i>
            <span class="badge">0</span>
            <p></p>
        </a>
    </li>
}