@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
    Layout = "~/Views/Shared/_Layout_Noti.cshtml";

}


<h2 class="text-center notify__title">Tài khoản của bạn bị tạm khóa do nhập sai mật khẩu quá số lần quy định !</br></h2>
<h2 class="text-center notify__text">Vui lòng thử lại sau 5 phút</h2>
<h3><a class="text-center btn hvr-hover go-to-link" href="/trang-chu">Về trang chủ</a></h3>

