@model ChanhThu_Store.Models.Cart
@{
    ViewBag.Title = "MiniCart";
}
@if (Model != null)
{
    <div class="side">
        <a href="#" class="close-side"><i class="fa fa-times"></i></a>
        <div class="cart-box">
            <ul class="cart-list">
                @foreach (var item in Model.Items)
                {
                    <li>
                        <a href="#" class="photo"><img src="@item._ShoppingProduct.HinhChinh" class="cart-thumb" alt="" /></a>
                        <h6><a href="#">@item._ShoppingProduct.TenSanPham</a></h6>
                        <p>@item._ShoppingQuantity x<span class="price">@item._ShoppingProduct.Gia</span></p>
                    </li>

                    <li class="total">
                        <a href="/gio-hang" class="btn btn-default hvr-hover btn-cart">Xem giỏ hàng</a>
                        <span class="float-right"><strong>Tổng cộng</strong>: $180.00</span>
                    </li>
                }
            </ul>
        </div>
    </div>
}
else
{
    <div class="side">
        <a href="#" class="close-side"><i class="fa fa-times"></i></a>
        <div class="cart-box">
            <ul class="cart-list">
                
                   <li class="total">
                        <a href="/gio-hang" class="btn btn-default hvr-hover btn-cart">Xem giỏ hàng</a>
                        <span class="float-right"><strong>Tổng cộng</strong>00.000 VND</span>
                    </li>
              
            </ul>
        </div>
    </div>
}
