@model List<ChanhThu_Store.Models.Voucher>

@foreach (var item in Model)
{
    <li>
        <i class="fab fa-opencart text-single "></i> @item.TenVoucher - @item.GiaTriGiam%
    </li>
}
@*<li>
        <i class="fab fa-opencart"></i> 20% off Bánh Orio
    </li>
    <li>
        <i class="fab fa-opencart"></i> 50% - 80% off Kẹo Milkyta
    </li>
    <li>
        <i class="fab fa-opencart"></i> Off 10%! Bánh Cosy
    </li>
    <li>
        <i class="fab fa-opencart"></i> Off 50%! Mua Ngay
    </li>
    <li>
        <i class="fab fa-opencart"></i> 20% off Bánh Orio
    </li>
    <li>
        <i class="fab fa-opencart"></i> 50% - 80% off Kẹo Milkyta
    </li>
    <li>
        <i class="fab fa-opencart"></i> Off 10%! Bánh Cosy
    </li>
    <li>
        <i class="fab fa-opencart"></i> Off 50%! Mua Ngay
    </li>*@
