@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_Layout_Noti.cshtml";

}


    <h2>
        Cảm ơn bạn đã xác nhạn email. @Html.ActionLink("ẤN VÀO ĐÂY ĐỂ ĐĂNG NHẬP", "LoginConfirm", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h2>

