@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_Layout_Noti.cshtml";

}


    <h2>
        Cảm ơn bạn đã xác nhận email.</br>
    </h2>
    <h2>
        @Html.ActionLink("Đăng nhập tại đây", "LoginConfirm", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "go-to-login-link" })
    </h2>

