@{
    ViewBag.Title = "EmailNotConfirmed";
    Layout = "~/Views/Shared/_Layout_Noti.cshtml";

}


<div>
    <p>
        <h1>Email chưa được xác nhận, vui lòng kiểm tra hòm thư mail!</h1>
        <h2><a target="_blank" class="go-to-mail" href="https://mail.google.com/mail/u/0/#inbox">Đi đến Mail</a> </h2>
    </p>
</div>
