@{
    ViewBag.Title = "EmailNotConfirmed";
    Layout = "~/Views/Shared/_Layout_Noti.cshtml";

}


<div>
    <p>
        <h1>Email chưa được xác nhận , vui lòng kiểm tra mail</h1>
        <h2> Ấn vào đây để đi đến mail nhanh nè <a style="color: darkblue" href="https://gmail.com/">Đi đến Mail</a> </h2>
    </p>
</div>
