@{
    ViewBag.Title = "EmailNotConfirmed";
    Layout = "~/Views/Shared/_Layout_Noti.cshtml";

}


<div>
    <p>
        <h1 class="text-center notify__text">Email chưa được xác nhận, vui lòng kiểm tra hòm thư mail!</h1>
        <h2><a target="_blank" rel="noopener" class="btn hvr-hover text-center go-to-link" href="https://mail.google.com/mail/u/0/#inbox">Đi đến hòm thư mail</a> </h2>
    </p>
</div>
