@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout_Noti.cshtml";

}

@if (!Request.IsAuthenticated)
{
    <div>
        <p>
            <h2>Vui lòng kiểm tra mail để thực hiện đặt lại mật khẩu</h2>
            <h3> <a class="go-to-mail" href="https://mail.google.com/mail/u/0/#inbox">Đi đến Mail</a></h3>
        </p>
    </div>
}
else
{
    <h2>Tài khoản hiện đang đăng nhập!</h2>
}


