@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout_Noti.cshtml";

}


<div>
    <p>
        <h2>Vui lòng kiểm tra mail để thực hiện đặt lại mật khẩu</h2>
        <h3> Ấn vào đây để đi đến mail nhanh nè <a style="color: darkblue" href="https://gmail.com/">Đi đến Mail</a> </h3>
    </p>
</div>
	
