
@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_Layout_Noti.cshtml";
}


<h2 class="text-center">
    Đăng ký thành công!</br>
    Vui vòng kiểm tra hòm thư mail để tiến hành kích hoạt tài khoản!</br>
</h2>
<h2><a class="go-to-mail" href="https://mail.google.com/mail/u/0/#inbox">Đi đến hòm thư mail</a></h2>
<h3> Hoặc <a class="go-to-login-link" href="/login">đăng nhập</a> ngay </h3>

