
@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_Layout_Noti.cshtml";
}

<h2 class="text-center notify__title">Đăng ký thành công!</h2>
<h2 class="text-center notify__text">
    Vui vòng kiểm tra hòm thư mail để tiến hành</br>
    <span>Xác thực tài khoản HỢP LỆ!</span>
</h2>
<h2><a class="go-to-link btn hvr-hover text-center" href="https://mail.google.com/mail/u/0/#inbox">Đi đến hòm thư mail</a></h2>
@*<h3> Hoặc <a class="go-to-link" href="/login">đăng nhập</a> ngay </h3>*@

