
@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_Layout_Noti.cshtml";
}

<h2>Đăng kí thành công vui vòng kiểm tra mail để kích hoạt mail và đăng nhập để bảo mật tài khoản cũng như có thể đặt lại mật khẩu khi cần !!!</h2>
<h2> Ấn vào đây để đi đến mail nhanh nè <a style="color: darkblue" href="https://gmail.com/">Đi đến Mail</a> </h2>
<h3> Hoặc <a style="color: darkblue" href="/Loginconfirm">đăng nhập</a> ngay </h3>

