@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_Layout_Noti.cshtml";

}



    <h2 class="text-center">
        Mật khẩu của bạn đã được đặt lại.
        @*@Html.ActionLink("Đăng nhập ngay", "Loginconfirm", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
        </br>
    </h2>
    <h2>
        <a class="go-to-login-link" href="/dang-nhap">Đăng nhập</a>
    </h2>

