@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_Layout_Noti.cshtml";

}



    <h2>
        Mật khẩu của bạn đã được đặt lại. @Html.ActionLink("Đăng nhập ngay", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h2>

