@model ChanhThu_Store.Models.NhaSanXuat

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Main_Admin.cshtml";
}
<div class="form">
    <div class="max">
        @*<h2 class="admin-title">Delete Section</h2>*@
        @*<hr />*@
        <h3 class="question text-center">Bạn có chắc chắn muốn xóa Nhà Sản Xuất này không ?</h3>
        <dl class="dl-horizontal text-center text-white h1">


            <dd>
                @Html.DisplayFor(model => model.TenNhaSanXuat)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions btn-touch">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
            <div class=" col-md-12 back-to-list">
                @Html.ActionLink("Trở lại", "Index")
            </div>
        }
    </div>
</div>

