@model IEnumerable<ChanhThu_Store.Models.DanhMuc>
<div class="row">
    <div class="col-lg-12">
        <div class="special-menu text-center">
            <div class="button-group filter-button-group">
                <button class="active" data-filter="*" data-aos="fade-up">Tất cả</button>
                @{ var i = 0;}
                @foreach (var item in Model)
                {
                    i += 100;
                    <button data-filter=".@item.MaDanhMuc" data-aos="fade-up" data-aos-delay="@i" data-aos-easing="linear">@item.TenDanhMuc</button>
                }
            </div>
        </div>
    </div>
</div>