@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}


<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="~/Content/images/back3.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Chào Mừng Đến Với <br> ChanhThuStore</strong></h1>
                        <p class="m-b-40">Bạn đồng hành của mọi tiệc cưới <br> Khách hàng là thượng đế.</p>
                        <p><a class="btn hvr-hover" href="#">Mua Ngay</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Content/images/back1.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Chào Mừng Đến Với <br> ChanhThuStore</strong></h1>
                        <p class="m-b-40">Bạn đồng hành của mọi tiệc cưới <br> Khách hàng là thượng đế.</p>
                        <p><a class="btn hvr-hover" href="#">Mua Ngay</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Content/images/back2.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Chào Mừng Đến Với <br> ChanhThuStore</strong></h1>
                        <p class="m-b-40">Bạn đồng hành của mọi tiệc cưới <br> Khách hàng là thượng đế.</p>
                        <p><a class="btn hvr-hover" href="#">Mua Ngay</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->
<!-- Start Categories  -->
<div class="categories-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/images/cate1.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">Bánh Hộp</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/images/cate2.jpg" alt="" />
                    <a class="btn hvr-hover" href="#">Bánh Mứt</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/images/cate3.png" alt="" />
                    <a class="btn hvr-hover" href="#">Bánh Nhập Khẩu</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Categories -->

<div class="box-add-products">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="offer-box-products">
                    <img class="img-fluid" src="~/Content/images/add-img-01.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="offer-box-products">
                    <img class="img-fluid" src="~/Content/images/add-img-02.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Bánh & Kẹo</h1>
                    <p>Chất lượng hàng đầu chúng tôi số 2 không ai số 1</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">Tất Cả</button>
                        <button data-filter=".top-featured">Nổi Bật</button>
                        <button data-filter=".best-seller">Bán Chạy</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row special-list">
            <div class="col-lg-3 col-md-6 special-grid best-seller">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">Mới</p>
                        </div>
                        <img src="~/Content/images/banh1.png" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Thêm Vào Giỏ</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Bánh Trứng</h4>
                        <h5> $7.79</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 special-grid top-featured">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">Mới</p>
                        </div>
                        <img src="~/Content/images/banh1.png" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Thêm Vào Giỏ</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Bánh Trứng</h4>
                        <h5> $7.79</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 special-grid top-featured">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">Mới</p>
                        </div>
                        <img src="~/Content/images/banh1.png" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Thêm Vào Giỏ</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Bánh Trứng</h4>
                        <h5> $7.79</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 special-grid best-seller">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">Mới</p>
                        </div>
                        <img src="~/Content/images/banh1.png" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Thêm Vào Giỏ</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Bánh Trứng</h4>
                        <h5> $7.79</h5>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- End Products  -->
<!-- Start Blog  -->
<div class="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Sản phẩm Mới Nhất</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                </div>
            </div>
        </div>
        @Html.Partial("_SanPhamMoiNhat",ChanhThu_Store.Models.BUS.SanPhamBUS.Top3Sanphammoi())
    </div>
</div>
<!-- End Blog  -->