@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}


<!-- Start Slider -->
<h1>Hello cac ban, toi la Nam, xin chao Phat</h1>
<h2>hihihi</h2>
@Html.Partial("_Slider_home", ChanhThu_Store.Models.BUS.SliderBUS.DanhSachSliderHeader())
<!-- End Slider -->
<!-- Start Categories  -->
@*<div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="~/Content/images/cate1.jpg" alt="" />
                        <a class="btn hvr-hover" href="#">Bánh Hộp</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="~/Content/images/cate2.jpg" alt="" />
                        <a class="btn hvr-hover" href="#">Bánh Mứt</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="~/Content/images/cate3.png" alt="" />
                        <a class="btn hvr-hover" href="#">Bánh Nhập Khẩu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- End Categories -->
<!-- Start Blog  -->
<div class="new-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1 class="text-capitalize" data-aos="fade-up" data-aos-easing="linear">Sản Phẩm Mới Nhất</h1>
                    <p data-aos="fade-up" data-aos-easing="linear">Sản phẩm mới nhập về của Chánh Thu Store</p>
                </div>
            </div>
        </div>
        @*@Html.Partial("_SanPham_MoiNhat", ChanhThu_Store.Models.BUS.SanPhamBUS.Top3SPMoi())*@
        @{
            Html.RenderAction("SanPhamMoiNhat", "Home");
        }
    </div>
</div>
<!-- End Blog  -->
@Html.Partial("_Banner", ChanhThu_Store.Models.BUS.BannerBUS.DanhSachBanner())

<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1 class="text-capitalize" data-aos="fade-up" data-aos-easing="linear">Sản phẩm nổi bật</h1>
                    <p data-aos="fade-up" data-aos-easing="linear">Chất lượng hàng đầu chúng tôi số 2 không ai số 1</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 filter-mobile">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active text-capitalize" data-filter="*" data-aos="fade-up" data-aos-easing="linear">Tất Cả</button>
                        <button class="text-capitalize" data-filter=".best-seller" data-aos="fade-up" data-aos-delay="100" data-aos-easing="linear">Mua nhiều nhất</button>
                        <button class="text-capitalize" data-filter=".top-featured" data-aos="fade-up" data-aos-delay="200" data-aos-easing="linear">Ấn tượng</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row special-list" data-aos="fade-up" data-aos-delay="600" data-aos-easing="linear">

            @*@Html.Partial("_SanPham_NoiBat", ChanhThu_Store.Models.BUS.SanPhamBUS.SPNoiBat())*@
            @{
                Html.RenderAction("SanPhamNoiBat", "Home");
            }
            @{
                Html.RenderAction("SanPhamBanChay", "Home");
            }

            @*@Html.Partial("_SanPham_BanChay", ChanhThu_Store.Models.BUS.SanPhamBUS.SPBanChay())*@


        </div>
    </div>
</div>
<!-- End Products  -->
@section scripts{
    <script>
        YeuThichNgoai(2);
    </script>
}