
@{
    
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}



    @*<button class="btn btn-primary" style="" onclick="timDuongDi()">Tìm đường đi</button>*@
    <div id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7847.5491556262605!2d105.97365479999999!3d10.4394546!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310a91d69f0f0779%3A0xaa3a912daef5b497!2zQ2jhu6MgSOG6rXUgTeG7uSBUcmluaA!5e0!3m2!1svi!2s!4v1638350449449!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

  


