@model ChanhThu_Store.Models.ThongTinCuaHang

<h1 text-title="@Model.TenCuaHang" class="slide__title-header-bottom text-light-primary fade-light__animate light-b-600">
    <span>@Model.TenCuaHang</span>
</h1>