@model ChanhThu_Store.Models.AspNetUser
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
<div class="user-point">
    <div class="user-point__title">Điểm của bạn</div>
    <div data-point="@Model.DiemTichLuy" class="user-point__value">@Model.DiemTichLuy</div>
</div>
}
else
{
<div class="user-point">
    <div class="user-point__title">Đăng nhập để xem điểm của bạn!</div>
    <a href="Vouchers/DoiVoucher?idVoucher=login" class="btn login hvr-hover">Đăng nhập</a>
</div>
}