@model ChanhThu_Store.Models.AspNetUser
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
<div class="user-point">
    <div class="user-point__title">Điểm tích lũy của bạn</div>
    <div data-point="@Model.DiemTichLuy" class="user-point__value">@Model.DiemTichLuy</div>
</div>
}
else
{
<div class="user-point">
    <div class="user-point__title">Đăng nhập để xem điểm của bạn!</div>
    <a href="/dang-nhap" class="btn login hvr-hover">Đăng nhập</a>
</div>
}
<div class="text-color text-center font-italic mt-3 mb-2">*Điểm tích lũy có được khi 
    <span class="underline font-weight-bold"><a class="link-to-product" href="/cua-hang"> đặt mua</a></span> 
    thành công những sản phẩm có số điểm tương ứng.
    </div>