
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="title-page">Giới thiệu</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/trang-chu">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Giới thiệu</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-fluid" src="https://vinatechjsc.vn/wp-content/uploads/2018/10/cua-hang-tap-hoa-1.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-6 ">
                <h2 class="noo-sh-title-top ">Chúng tôi là <span>Chánh Thu Store</span></h2>
                <p class="text-justify">
                    "Shop chúng tôi được thành lập từ năm 2016 cho đến nay. Khoảng thời gian đó là 1 khoảng thòi gian
                    vô cùng đặc biệt không chỉ với tôi mà còn với tất cả mọi người từ nhân viên cho đến khách hàng.
                    Tuy có hơi vất vả nhưng Shop chúng tôi đã và đang ngày càng lớn mạnh hơn bao giờ hết do sự tiến
                    bộ
                    của công nghệ và con người. Cùng với đó là sự giúp sức của các nhân viên và các khách hàng dễ
                    thương
                    đã tạo động lực cho shop đi đến ngày hôm nay. Mặt hàng của shop chúng tôi luôn luôn được đảm bảo
                    được chất lượng
                    và an toàn cho người dùng. Cùng với đó là giả thành luôn đúng với giá thị trường , phù hợp với
                    túi tiền của
                    khách hàng. Do mùa dịch ảnh hưởng
                    khá nghiêm trọng nên Shop quyết định mở rộng hướng kinh doanh theo
                    hình thức online nhằm đáp ứng yêu cầu của khách hàng trong mùa dịch này

                </p>
                <p class="text-justify">
                    Chúng tôi xin cam đoan với khách hàng theo tiêu chí 5 nhất đó là: Sản phẩm tốt nhất , Giá cả rẻ
                    nhất , An toàn
                    nhất , Dịch vụ tốt nhất , Chuyên nghiệp nhất. Khách hàng hãy tin tưởng Shop chúng tôi vì chúng
                    tôi sẽ mang lại
                    cho các bạn những sản phẩm chất lượng cho tất cả mọi người.
                </p>
                <a class="btn hvr-hover max-width-mobile" href="#">Xem thêm</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Đáng tin cậy</h3>
                    <p>
                        Chúng tôi luôn đảm bảo hàng chất lượng , rõ nguồn gốc và xuất xứ , giá cả phù hợp với mọi
                        người.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Chuyên nghiệp</h3>
                    <p>
                        Đội ngũ nhân viên được đào tạo bài bản , phục vụ tận tình , luôn đặt khách hàng lên trên
                        mình.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Chuyên gia</h3>
                    <p>
                        Lĩnh vực bánh kẹo chính là thế mạnh của shop chúng tôi và chúng tôi cam đoan mọi loại sản
                        phẩm đều là tốt nhất
                    </p>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <h2 class="noo-sh-title">Team Chánh Thu Store</h2>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="https://scontent.fsgn5-4.fna.fbcdn.net/v/t1.6435-9/174606218_2824865724431705_8489338308361414919_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=bwUOO6lrb2cAX_ExI2t&_nc_ht=scontent.fsgn5-4.fna&oh=c01967a66919f6d6439db834c24a95d7&oe=6181451B"
                             alt="" />
                        <div class="team-content">
                            <h3 class="title">Tăng Thuận Phát</h3> <span class="post">Web Developer</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut
                            ullamcorper quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc
                            tristique purus turpis. Maecenas vulputate.
                        </p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="https://scontent.fsgn5-5.fna.fbcdn.net/v/t1.6435-9/198695203_2927620117486328_843645430612164226_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=wtCST-Wuk0YAX8UMH7x&_nc_ht=scontent.fsgn5-5.fna&oh=00604dcf727fc52e40827a15dc0e2aab&oe=6181C540"
                             alt="" />
                        <div class="team-content">
                            <h3 class="title">Trần Nguyễn Nhật Nam</h3> <span class="post">Web Developer</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut
                            ullamcorper quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc
                            tristique purus turpis. Maecenas vulputate.
                        </p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/s206x206/242654951_1334841936970632_3437436290686739193_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=aee45a&_nc_ohc=x7VGHvvj5KgAX_gBm8R&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=06afd5d1374641f6f12829310634cb65&oe=6181DA38"
                             alt="" />
                        <div class="team-content">
                            <h3 class="title">Nguyễn Quốc Huy</h3> <span class="post">Web Developer</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut
                            ullamcorper quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc
                            tristique purus turpis. Maecenas vulputate.
                        </p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Page -->
