:root {
    /*color*/
    --primary-color: #f3bf16;
    --second-color: #f3bf168c;
    --red: #ff1a1a;
    --gray: #666666;
    --blue: #1166ef;
    --selection-text: #fff;
    --border-input-color: #00000040;
    --line-gray: #00000020;
    --shadow-object: #00000066;
    /*text*/
    --text-color: #333;
    --title-color: #333;
    /*background*/
    --background-color: #fff;
    --background-font: #ffc10724;
    /*style*/
    --btn-corner-radius: 3px;
    --input-corner-radius: 5px;
    --img-corner-radius: 5px;
    --table-corner-radius: 5px;
}

.none-radius {
    border-radius: 0px !important;
}

.full-radius {
    border-radius: var(--img-corner-radius);
}

.top-left-radius {
    border-top-left-radius: var(--img-corner-radius);
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.top-right-radius {
    border-top-left-radius: var(--img-corner-radius);
    border-top-right-radius: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.bottom-left-radius {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: var(--img-corner-radius);
    border-bottom-right-radius: 0px;
}

.bottom-right-radius {
    border-top-left-radius: 0px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: var(--img-corner-radius);
}

.top-radius {
    border-top-left-radius: var(--img-corner-radius);
    border-top-right-radius: var(--img-corner-radius);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.bottom-radius {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: var(--img-corner-radius);
    border-bottom-right-radius: var(--img-corner-radius);
}

*::selection {
    color: #fff;
    background-color: var(--second-color);
}

/*light -white*/
.text-light-white {
    text-shadow: 0px 0px 2px #fff;
    filter: drop-shadow( 0px 0px 2px #fff);
}

/*light-primary*/
.text-light-primary {
    text-shadow: 0px 0px 2px var(--primary-color);
    filter: drop-shadow( 0px 0px 5px var(--primary-color));
    color: var(--primary-color) !important;
    position: relative;
}

/*light-blue*/
.text-light-blue {
    text-shadow: 0px 0px 2px var(--blue);
    filter: drop-shadow( 0px 0px 2px var(--blue));
    position: relative;
    color: var(--blue) !important;
}


.text-light-primary:not(.fade-light__animate),
.text-light-blue:not(.fade-light__animate) {
    color: #fff !important;
}

.fade-light__animate:before {
    content: attr(text-title);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff !important;
    z-index: 2;
}

.fade-light__animate.light-b-500:before {
    font-weight: normal;
}

.fade-light__animate.light-b-600:before {
    font-weight: 600;
}

/*kèm theo attr(text-title)*/
.fade-light__animate {
    animation: fadeLight ease-in-out infinite 2s;
}

@keyframes fadeLight {
    0%,20% {
        text-shadow: 0px 0px 2px currentcolor;
        filter: drop-shadow( 0px 0px 5px currentcolor);
    }

    50%,10%,90% {
        text-shadow: 0px 0px 0px currentcolor;
        filter: drop-shadow( 0px 0px 0px currentcolor);
    }

    80%,100% {
        text-shadow: 0px 0px 2px currentcolor;
        filter: drop-shadow( 0px 0px 5px currentcolor);
    }
}
